body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(202, 169, 236);
    color: rgb(70, 5, 57);
    height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    background-color: rgb(215, 189, 223);
    padding: 10px 0;
}

h1 {
    color: rgb(70, 5, 5);
    margin-top: 10px;
    margin-bottom: 50px;
    text-decoration: underline;
    font-size: 50px;
}

main {
    width: 100%;
    padding: 20px;
}

#movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px; 
}

.movie {
    text-align: center;
}

img {
    height: 250px;
    width: 250px;
    border: 10px solid white;
    margin-top: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

nav h2{
    text-align: end;
}